**/dump*

**/*.ppm

**/*.mp4

**/t*y*


./.git/objects/45/13f1707c57754af1c338d02ddb1a0276d7e18a
./Exp_field_Basilisk/dumpfile_test/dump3D0
./Exp_field_Basilisk/dumpfile_test/dump3D60
./Exp_field_Basilisk/dumpfile_test/dump3D50
./Exp_field_Basilisk/saint/out.Ad.ppm
./Exp_field_Basilisk/saint/out.out.ppm
./Exp_field_Basilisk/saint/out.p.ppm
./Exp_field_Basilisk/saint/bump/out.ppm
./Exp_field_Basilisk/saint/bump/grid.ppm
./Exp_field_Basilisk/saint/out.256.ppm
./Exp_field_Basilisk/saint/grid.ppm
./Exp_field_Basilisk/saint/out.Car.ppm
./.git/objects/20/b00ba9879575dd159dc7fe6ee2e43da24252e0
./.git/objects/cb/4036d047482bd5f5b33b0ca642f080e7a10292
./.git/objects/f3/aa2f0299360ca4ef440277b03ad6879a602c70
./.git/objects/0d/3e24011d3281cd34fe81bc488675d28009b9bc
./.git/objects/ee/0621b4b1d34de4e715012a79f4e361a178ed5a
./.git/objects/33/965cc867ff3b087d40ef3ed8258a193c2082eb
./.git/objects/94/06185432920169f956370f5952c1fc9c930c05
./.git/objects/c5/c75d8eddfd2ea776fd98a49273f7fab6f8c544
./.git/objects/45/13f1707c57754af1c338d02ddb1a0276d7e18a
./Exp_field_Basilisk/dumpfile_test/dump3D10
./Exp_field_Basilisk/dumpfile_test/dump3D0
./Exp_field_Basilisk/dumpfile_test/dump3D60
./Exp_field_Basilisk/dumpfile_test/dump3D40
./Exp_field_Basilisk/dumpfile_test/dump3D50
./Exp_field_Basilisk/dumpfile_test/dump3D30
./Exp_field_Basilisk/dumpfile_test/dump3D20
./Exp_field_Basilisk/saint/out.Ad.ppm
./Exp_field_Basilisk/saint/out.out.ppm
./Exp_field_Basilisk/saint/out.p.ppm
./Exp_field_Basilisk/saint/bump/out.ppm
./Exp_field_Basilisk/saint/bump/grid.ppm
./Exp_field_Basilisk/saint/out.256.ppm
./Exp_field_Basilisk/saint/grid.ppm
./Exp_field_Basilisk/saint/out.Car.ppm
./Exp_field_Basilisk/dumpfile_test/dump3D10
./Exp_field_Basilisk/dumpfile_test/dump3D0
./Exp_field_Basilisk/dumpfile_test/dump3D60
./Exp_field_Basilisk/dumpfile_test/dump3D40
./Exp_field_Basilisk/dumpfile_test/dump3D50
./Exp_field_Basilisk/dumpfile_test/dump3D30
./Exp_field_Basilisk/dumpfile_test/dump3D20
./Exp_field_Basilisk/saint/out.Ad.ppm
./Exp_field_Basilisk/saint/out.out.ppm
./Exp_field_Basilisk/saint/out.p.ppm
./Exp_field_Basilisk/saint/bump/out.ppm
./Exp_field_Basilisk/saint/bump/grid.ppm
./Exp_field_Basilisk/saint/out.256.ppm
./Exp_field_Basilisk/saint/grid.ppm
./Exp_field_Basilisk/saint/out.Car.ppm
./.git/index
./.git/objects/pack/tmp_pack_rY0XqE
./src/test/bump2D1/out
./Exp_field_Basilisk/dumpfile_test/dump3D10
./Exp_field_Basilisk/dumpfile_test/dump3D0
./Exp_field_Basilisk/dumpfile_test/dump3D60
./Exp_field_Basilisk/dumpfile_test/dump3D40
./Exp_field_Basilisk/dumpfile_test/dump3D50
./Exp_field_Basilisk/dumpfile_test/dump3D30
./Exp_field_Basilisk/dumpfile_test/dump3D20
./Exp_field_Basilisk/3DGoal_vrlab/landpara/goal_fan_R2S/lam_3D.mp4
./Exp_field_Basilisk/3DGoal_vrlab/landpara/goal_fan/lam_3D.mp4
./Exp_field_Basilisk/saint/out.Ad.ppm
./Exp_field_Basilisk/saint/out.out.ppm
./Exp_field_Basilisk/saint/out.p.ppm
./Exp_field_Basilisk/saint/bump/out.ppm
./Exp_field_Basilisk/saint/bump/grid.ppm
./Exp_field_Basilisk/saint/out.256.ppm
./Exp_field_Basilisk/saint/grid.ppm
./Exp_field_Basilisk/saint/out.Car.ppm
./Exp_field_Basilisk/cuboid/dump3D0
./Exp_field_Basilisk/cuboid_fan/wall.mp4

./Exp_field_Basilisk/goal_fan
./Exp_field_Basilisk/goal_fan_180
./Exp_field_Basilisk/goal_fan_180R
